.olaboratoriu-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.olaboratoriu-olaboratoriu {
  width: 100%;
  height: 1271px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(165, 215, 232, 1);
}
.olaboratoriu-footer {
  top: 1024px;
  left: 0px;
  width: 100%;
  height: 247px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(11, 36, 71, 1);
}

.header-button {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.header-button:hover {
  background-color: #92929244;
}

.olaboratoriu-text {
  top: 34px;
  left: 33px;
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: underline;
}
.olaboratoriu-onas {
  top: 98px;
  left: 34px;
  width: 96px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.olaboratoriu-text02 {
  color: rgba(255, 255, 255, 1);
  width: 96px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.olaboratoriu-kontakt {
  top: 147px;
  left: 37px;
  width: 112px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.olaboratoriu-text04 {
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: underline;
}
.olaboratoriu-virtualnajaskyna01725350256432 {
  top: 70px;
  left: 0px;
  width: 100%;
  height: 954px;
  position: absolute;
}
.olaboratoriu-up {
  top: 932px;
  left: 90%;
  width: 67px;
  height: 67px;
  position: absolute;
}
.olaboratoriu-text09 {
  top: 137px;
  left: 138px;
  color: rgba(255, 255, 255, 1);
  width: 1194px;
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.olaboratoriu-header {
  gap: 292px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  display: flex;
  padding: 17px 81px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: rgba(11, 36, 71, 1);
}
.olaboratoriu-lirkis {
  width: 136px;
  height: 49px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.olaboratoriu-text20 {
  color: rgba(87, 108, 188, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Bowlby One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.olaboratoriu-buttons {
  gap: 40px;
  width: 833.6666259765625px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.olaboratoriu-olaboratriu {
  width: 100px;
  height: 19px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.olaboratoriu-text22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.olaboratoriu-projekty {
  width: 63px;
  height: 19px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.olaboratoriu-text24 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.main-text53 {
  color: rgba(87, 108, 188, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Bowlby One SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.olaboratoriu-galria {
  width: 54px;
  height: 19px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.olaboratoriu-text26 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
